.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }

article {
  display: grid;
  align-content: center;
  float: left;
  width: 100%;
  margin-bottom: 16px;
  padding: 0 8px;
}
.card {
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}



.column {
  align-content: center;
  float: left;
  width: 30%;
  margin-bottom: 16px;
  margin-left: auto;
  padding: 0 8px;
  
}

@media screen and (max-width: 650px) {
  .column {
      width: 100%;
      display: block;
  }
}

.title {
  color: rgb(56, 83, 236);
}



