body {
    background: white;
}

.heading{
    text-align: center;
    font-size: 50px;
    margin: 0px;
    padding: 0px;
}

.image-container, .profile{
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{
    width: 120px;
    height: 120px;
    background: light blue
    margin: 2px 50px;
    border-radius: 50%;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgb(145, 1, blue)
}
.image:hover{
    border: 3px solid rgb(56, 82, 206)
}
img{
    width: 116px;
    height: 116px;
    border-radius: 50%;
}
.info-container{
    width: 1100px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: 0px 0px 50px rgb(145, 1, blue);
}
/*
.profile{
    width: 350px;
    height: 175px;
    border-radius: 15px;
    padding:10px;
    margin: 0px;
}
*/
.name{
    margin-top: 80px;
    padding: 0px 15px;
    text-align: left;
    font-size:50px;
    line-height: 20px;
}
.status{
    padding: 0px 20px;
    text-align: left;
    line-height: 20px;
    margin: 0;
}
.about{
    height: 240px;
    padding: 0px 20px;
}