<!DOCTYPE html>
<html lang="en" dir="ltr">
  
       

   <!-- Contact  -->
        <h1>Contact</h1>
        <form method="post" action="mailto:sgor@bu.edu">
            <div class="fields">
                <div class="field half">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" />
                </div>
                <div class="field half">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" />
                </div>
                <div class="field">
                    <label for="message">Message</label>
                    <textarea name="message" id="message" rows="4"></textarea>
                </div>
            </div>
            <ul class="actions">
                <li><input type="submit" value="Send Message" class="primary" /></li>
                <li><input type="reset" value="Reset" /></li>
            </ul>
        </form>

            <ul class="icons">
                <a href="https://www.linkedin.com/company/tamidbu/" class="fa fa-linkedin">
                <a href="https://github.com/sgorok/butechtrack" class="fa fa-github">
            </ul>
          
  
</html>