<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Tamid @ BU Contact Form</title>
		<link rel="stylesheet" href="static/style3.css">
	</head>
	<body>
		<section>
			<div class="container">
				<div class="contactinfo">
					<div>
						<h2>Contact Info</h2>
						<ul class="info">
							<li>
								<span><img src="static/location.png"></span>
								<span>Insert an address here<br>
                                    Boston, MA<br>
                                    01235</span>
							</li>
							<li>
								<span><img src="static/mail.png"></span>
								<span>sgor@bu.edu | james@bu.edu</span>
							</li>
							<li>
								<span><img src="static/call.png"></span>
								<span>Phone Number</span>
							</li>
						</ul>
					</div>
					<ul class="sci">
						<li><a href="#"><img src="static/1.png"></a></li>
						<li><a href="#"><img src="static/2.png"></a></li>
						<li><a href="#"><img src="static/3.png"></a></li>
						<li><a href="#"><img src="static/4.png"></a></li>
						<li><a href="#"><img src="static/5.png"></a></li>
					</ul>
				</div>
				<div class="contactForm">
					<h2>Send a Message</h2>
					<div class="formBox">
						<div class="inputBox w50">
							<input type="text" name="" required>
							<span>First Name</span>
						</div>
						<div class="inputBox w50">
							<input type="text" name="" required>
							<span>Last Name</span>
						</div>
						<div class="inputBox w50">
							<input type="text" name="" required>
							<span>Email Address</span>
						</div>
						<div class="inputBox w50">
							<input type="text" name="" required>
							<span>Mobile Number</span>
						</div>
						<div class="inputBox w100">
							<textarea name="" required></textarea>
							<span>Write your message here...</span>
						</div>
						<div class="inputBox w100">
							<input type="submit" value="Send">
						</div>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>




















<!-- Icon Source -->
<!-- <div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/"     title="Flaticon">www.flaticon.com</a></div><div>Icons made by <a href="https://www.flaticon.com/authors/good-ware" title="Good Ware">Good Ware</a> from <a href="https://www.flaticon.com/"     title="Flaticon">www.flaticon.com</a></div> -->

<!--<!DOCTYPE html>
<html lang="en" dir="ltr">
  
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Tamid @ BU Contact Form</title>
      <link rel="stylesheet" href="static/style.css" />
   </head>
   <body>
       <section>
        <div class="container">
            <div class="contactinfo">
                <div>
                <h2>Contact Info</h2>
                <ul class="info">
                    <li>
                        <span><img src="static/locationn.png"></span>
                        <span>Insert an address here<br>
                            Boston, MA<br>
                            01235</span>
                    </li>
                    <li>
                        <span><img src="static/maill.png>"></span>
                        <span>sgor@bu.edu | james@bu.edu</span>
                    </li>
                    <li>
                        <span><img src="static/calll.png>"></span>
                        <span>Phone Number</span>
                    </li>
                </ul>
                <ul class="sci">
                    <li><a href="#"></a><img src="static/1.png"></a></li>
                    <li><a href="#"></a><img src="static/2.png"></a></li>
                    <li><a href="#"></a><img src="static/3.png"></a></li>
                    <li><a href="#"></a><img src="static/4.png"></a></li>
                    <li><a href="#"></a><img src="static/5.png"></a></li>
                </ul>
                </div>
            </div>
            <div class="contactForm">
                <h2>Send a Message</h2>
                <div class="formBox">
                    <div class="inputBox w50">
                        <input type="text" name="" required>
                        <span>First Name</span>
                    </div>
                    <div class="inputBox w50">
                        <input type="text" name="" required>
                        <span>Last Name</span>
                    </div>
                    <div class="inputBox w50">
                        <input type="text" name="" required>
                        <span>Email Address</span>
                    </div>
                    <div class="inputBox w50">
                        <input type="text" name="" required>
                        <span>Mobile Number</span>
                    </div>
                    <div class="inputBox w100">
                        <textarea name="" required></textarea>
                        <span>Write your message here...</span>
                    </div>
                    <div class="inputBox w100">
                        <input type="submit" value="Send">
                    </div>
                </div>
            </div>
        </div>
    </section>
   </body>
</html>

-->


       
   
   <!-- Old Contact Page  
        <h1>Contact</h1>
        <form method="post" action="mailto:sgor@bu.edu">
            <div class="fields">
                <div class="field half">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" />
                </div>
                <div class="field half">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" />
                </div>
                <div class="field">
                    <label for="message">Message</label>
                    <textarea name="message" id="message" rows="4"></textarea>
                </div>
            </div>
            <ul class="actions">
                <li><input type="submit" value="Send Message" class="primary" /></li>
                <li><input type="reset" value="Reset" /></li>
            </ul>
        </form>

            <ul class="icons">
                <a href="https://www.linkedin.com/company/tamidbu/" class="fa fa-linkedin">
                <a href="https://github.com/sgorok/butechtrack" class="fa fa-github">
            </ul>
    -->      
  
