<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name ="viewport" content = "width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content = "ie-edge">
    <link rel = "stylesheet" href = "static/teamstyle.css">
    <title>Our Team</title>
</head>
  
<body>
    <h1 class= "heading">Our Team</h1>
    <div class = "image-container">
        <div class = "image" onclick="fetch_info(0)"><img src = "Shelli.jpeg"></div>
        <div class = "image" onclick="fetch_info(1)"><img src = "James.jpeg"></div>
        <div class = "image" onclick="fetch_info(2)"><img src = "Gil.jpeg"></div>
        <div class = "image" onclick="fetch_info(3)"><img src = "Dan.jpeg"></div>
        <div class = "image" onclick="fetch_info(4)"><img src = "Samantha.jpeg"></div>
        <div class = "image" onclick="fetch_info(5)"><img src = "Isaac.jpeg"></div>
        <div class = "image" onclick="fetch_info(6)"><img src = "Matan.jpeg"></div>
        <div class = "image" onclick="fetch_info(7)"><img src = "Ben.jpeg"></div>
        <div class = "image" onclick="fetch_info(8)"><img src = "Deli.jpeg"></div>
    </div>
    <div class = "info-container">
        <img class = "profile" id = profile ><img src = "Shelli.jpeg">
        <div class = "info">
            <h1 class = "name" id = "name">Shelli Gorokhovsky</h1>
            <h3 class = "status" id = "status">Director of Tech</h3>
            <p class = "about" id = "about"> Shelli is currently in her third year at Boston University, working toward her B.A. in Computer Science, with a completed minor in Business Administration. She hopes to combine her diverse range of interests in technology, business, environmental sustainability, and psychology, by way of social entrepreneurship.
                Shelli has experience working in the field of data science and machine learning, and is enjoying learning new skills and tools all the time. When she isn't on a computer, you can find her making a killer shakshuka or looking for green spaces to escape the city.</p>
              </p>
        </div>
    </div>
    <script>
        funtion fetch_info(){
            let profile =["Shelli.jpeg","James.jpeg","Gil.jpeg","Dan.jpeg","Samantha.jpeg","Isaac.jpeg","Matan.jpeg","Ben.jpeg","Deli.jpeg"]
            let name=["Shelli Gorokhovsky","James Heilberg","Gil Lotzky","Daniel Shimon","Samantha Puterman","Isaac Yamnitsky","Matan Ziegel","Ben Steinfeld","Daniel Delijani"]
            let status =["Co Director of Tech","Co Director of Tech","Engineer","Engineer","Engineer","Engineer","Engineer","Engineer","Engineer"]
            let about = ["Shelli is currently in her third year at Boston University, working toward her B.A. in Computer Science, with a completed minor in Business Administration. She hopes to combine her diverse range of interests in technology, business, environmental sustainability, and psychology, by way of social entrepreneurship. Shelli has experience working in the field of data science and machine learning, and is enjoying learning new skills and tools all the time. When she isn't on a computer, you can find her making a killer shakshuka or looking for green spaces to escape the city.",""]
            document.getElementById("profile").src=profile[i];
            document.getElementById("name").innerHTML=name[i];
            document.getElementById("status").innerHTML=status[i];
            document.getElementById("about").innerHTML=about[i];
        }
    </script>
</body>